<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %> |
      <% if logged_in? %>
        <%= link_to 'New event', new_event_path %> |
        <%= link_to 'Profile', user_path(current_user.id) %> |
        <%= link_to 'Log out', signout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', signup_path %> |
        <%= link_to 'Log in', signin_path %>
      <% end %>
    </nav>
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message) %>
      <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
